<section class="hero  is-halfheight mt-6 " style="min-height: 70vh;">
    <div class="container  is-fluid ">
        <div>
            <h1 class="is-size-1 has-text-centered has-text-weight-bold has-text-info pt-6">{{page_title}}</h1>
            <p class="has-text-centered has-text-grey pb-6">You and only you can access to this data. All the magic is
                done
                on your computer.</p>
            <article class="message is-info" *ngIf="this.userService.getIsVaultLocal()">
                <div class="message-body">
                    This is a vault stored locally on your computer. You can't sync it with other devices, nor with
                    zero-totp servers. You don't need internet to open it.<br>
                </div>
            </article>
            <div class="is-flex is-justify-content-center columns is-flex-wrap-wrap is-desktop">

   
                <div class="column  is-full-mobile
            is-one-third-tablet
            is-one-third-desktop
            is-one-third-widescreen
            is-one-quarter-fullhd" *ngFor="let uuid of vaultDomain">
                    <div class="card has-background-{{vault!.get(uuid)?.get('color')}} has-text-white">
                        <header class="card-header">
                            <p class="card-header-title  has-text-white">
                                {{vault!.get(uuid)?.get('name')}}</p>
                            <button class="card-header-icon" aria-label="copy" (click)="copy()"
                                [cdkCopyToClipboard]="vault!.get(uuid)?.get('code')!">
                                <span class="icon">
                                    <fa-icon [icon]="faCopy"></fa-icon>
                                </span>
                            </button>
                        </header>
                        <a class="noHover" (click)="copy()" [cdkCopyToClipboard]="vault!.get(uuid)?.get('code')!">
                            <div class="card-content has-text-white" style="text-decoration: none;">
                                <div class="content has-text-centered">
                                    <p class="is-size-2 has-text-weight-bold">{{vault!.get(uuid)?.get('code')}}
                                        <br>
                                        <progress class="progress is-small" value="{{remainingTime}}" max="100"
                                            style="height: 10px;">{{remainingTime}}%</progress>
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
