
<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" (click)="navigateToRoute('/')" *ngIf="userService.getId()!=null">
       <img src="assets/zero-totp-rescue_light.png" alt="Logo of Zero TOTP">
      </a>
      <a class="navbar-item"  href="#" *ngIf="userService.getId()==null">
        <img src="assets/zero-totp-rescue_light.png" alt="Logo of Zero TOTP">
       </a>
  
      <a role="button" class="navbar-burger"  id="navbarBurger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" (click)="isNavbarExpanded = !isNavbarExpanded">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu"[ngClass]="{'is-active': isNavbarExpanded}" >
      <div class="navbar-start">
        <a class="navbar-item" [ngClass]="{'has-text-weight-bold':currentUrl == '/'}" (click)="navigateToRoute('/')">
          Rescue Zero-TOTP
        </a>
        
      </div>
      <div class="navbar-start"  *ngIf="this.userService.getIsVaultLocal()">
        <a class="navbar-item"  (click)="navigateToRoute('vault')">
          Vault backup
        </a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-light" *ngIf="userService.getId()== null" href="/openVault">
              <span [ngClass]="{'has-text-weight-bold':currentUrl == '/openVault'}">Open my vault</span>
            </a>
            <a class="button is-light" *ngIf="this.userService.getIsVaultLocal()" href="/openVault">
              <span>Close</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>