/* You can add global styles to this file, and also import other style files */


$info: #5AA9E6;
$danger:#FE6847;
$warning:#FFCF56;
$dark:#16262E;
$success:#63A375;
$primary:$success;
$black:$dark;
$test:$dark;

a:hover{
  text-decoration: underline;
}


*, html {

  scroll-behavior: smooth !important;
}
.noHover{
  text-decoration: none !important;
}

video {
  max-height: 50vh !important;
  width:auto !important;
}

#reloadVault:hover{
  font-weight: bold;
}

#reloadVault{
  cursor: pointer;
}

.coffee-button {
  position: fixed;
  bottom: 18px;
  right: 18px;
  width: 60px;
  height: 60px;
  background-color: #ffdd57; /* Background color for the button */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
}

.coffee-button img {
  width: 30px; /* Adjust the size of the icon */
  height: 30px;
}

.coffee-button:hover {
  transform: scale(1.1); /* Animation on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#totp-tag:hover,
#totp-status-tag:hover,
#google-tag:hover,
#google-status-tag:hover,
#download-tag:hover,
#download-status-tag:hover{
  box-shadow: black 0px 0px 4px;
}

#totp-tag:hover ~ #totp-status-tag,
#totp-status-tag:hover ~ #totp-tag,
#google-tag:hover ~ #google-status-tag,
#google-status-tag:hover ~ #google-tag,
#download-tag:hover ~ #download-status-tag,
#download-status-tag:hover ~ #download-tag {
  box-shadow: black 0px 0px 4px;
}

.tags {
  cursor: pointer;
}



/*@import "../node_modules/bulma/css/bulma.css";*/
@import "../node_modules/bulma/bulma.sass";
